@mixin brand-logo($width, $height, $scaled-height:"") {
  display: inline-block;

  @if $scaled-height != "" {
    $scale: $scaled-height / $height;
    $width: $width * $scale * 10;
    $height: $scaled-height * 1.5;
  }
  width: $width;
  height: $height;
  margin-right: 10px;
}
